<div class ="welcome img-responsive">
  <h1> The Vietnamese Restaurant </h1>
  <%= link_to 'Menu', {controller: 'menus', action: 'index'}, class: 'btn btn-primary btn-lg' %>
  <%= link_to 'Contact us', {controller: 'contact_us'}, class: 'btn btn-primary btn-lg' %>
</row>
