// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-content {
  padding-top: 10px;
}

.break-line {
  border-top: 1px solid #000000;
  padding-top: 10px;
  margin-top: 10px;
}
